.CometSettingsPage.hasLeftCol #mainContainer {
  border-right: none;
  display: flex;
  flex-direction: row;
}

.CometSettingsPage.hasLeftCol #leftCol {
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 320px;
  min-width: 240px;
  padding-top: 18px;
  width: 25%;
}

.CometSettingsPage.hasLeftCol #contentCol {
  box-sizing: border-box;
  flex-grow: 1;
  margin-left: 0;
  width: auto;
}

.hasLeftCol #contentCol {
  border-left: 1px solid #ccc;
  min-height: 600px;
}


.CometSettingsPage.CometSettingsPage #globalContainer {
  box-sizing: border-box;
  max-width: 1280px;
  min-width: 1000px;
  width: auto;
  margin: 0 auto;
}


.hasLeftCol #contentArea {
  padding: 0 20px;
  width: 759px;
}


._ohe {
  float: left
}

._ohf {
  float: right
}

._4ki>li {
  border-width: 0 0 0 1px;
  display: inline-block
}

._4kg>li {
  border-width: 1px 0 0 0
}

._509->li {
  vertical-align: top
}

._509_>li {
  vertical-align: middle
}

._50a0>li {
  vertical-align: bottom
}

.uiList>li:first-child {
  border-width: 0
}

._4ks>li {
  border-color: #ebedf0;
  border-style: solid
}

._4kt>li {
  border-color: #ccc;
  border-style: solid
}

._4ku>li {
  border-color: #aaa;
  border-style: solid
}

._4of {
  color: #365899;
  list-style-type: square;
  margin-left: 12px
}

._7lda {
  list-style-type: disc;
  margin-left: 16px
}

._7lda>._7ldb {
  text-indent: -2px
}

._4ki._703>li {
  padding-left: 20px;
  padding-right: 20px
}

._4ki._704>li {
  padding-left: 5px;
  padding-right: 5px
}

._4ki._6-j>li {
  padding-left: 10px;
  padding-right: 10px
}

._4ki._6-i>li {
  padding-right: 0
}

._4kg._704>li {
  padding-top: 5px;
  padding-bottom: 5px
}

._4kg._6-j>li {
  padding-top: 10px;
  padding-bottom: 10px
}

._4kg._703>li {
  padding-top: 20px;
  padding-bottom: 20px
}

._4kg._6-i>li {
  padding-bottom: 0
}

._4kg._6-h>li:first-child {
  padding-top: 0
}

._4kg._6-h>li:last-child {
  padding-bottom: 0
}

._4ki._6-h>li:first-child {
  padding-left: 0
}

._4ki._6-h>li:last-child {
  padding-right: 0
}

._45kp {
  display: block
}

._4qzv {
  width: 63px
}

._4-i9 {
  width: 275px
}

._5m4l {
  width: 267px
}

._4-ye {
  width: 95%
}

._4-yg {
  margin-left: 57px;
  width: 402px
}

._50pg {
  width: 270px
}

._5b2_ {
  word-wrap: break-word
}

._3hnr {
  margin-top: 1px
}

._4q_r {
  background: yellow
}

._iw1 .uiList {
  margin-top: 5px
}

._iw2 {
  width: 220px
}

._iw3 {
  background: #f5f6f7;
  border-bottom: 1px solid #e9ebee;
  border-top: 1px solid #e9ebee;
  padding: 10px
}

.fbSettingsEditor {
  position: relative
}

.fbSettingsEditor .uiButton input {
  padding: 2px 0 1px
}

.fbSettingsEditorLabel {
  left: 0;
  outline: 0;
  position: absolute;
  width: 155px
}

.show_label .fbSettingsEditorFields {
  margin-left: 180px
}

.fbSettingsEditorFields .saveThrobber,
.fbNotifSettingsEditorFields .saveThrobber {
  vertical-align: middle
}

.fbSettingsEditorFields {
  width: 400px
}

.fbSettingsEditorFields .label,
.fbNotifSettingsEditorFields .label {
  min-width: 100px
}

.wide_editor .fbSettingsEditorFields,
.wide_editor .fbNotifSettingsEditorFields {
  width: 550px
}

.fbSettingsEditorFields .extended_field,
.fbNotifSettingsEditorFields .extended_field {
  margin-right: -140px
}

.fbSettingsEditorFields .spacer hr,
.fbNotifSettingsEditorFields .spacer hr {
  background-color: #ccc
}

.fbSettingsError div {
  margin-left: 159px
}

.fbSettingsErrorLabel {
  color: #c66
}

.fbNotifSettingsEditorLabel {
  left: 0;
  position: absolute;
  width: 165px
}

.show_label .fbNotifSettingsEditorFields {
  margin-left: 180px
}

.fbNotifSettingsEditorFields {
  width: 325px
}

._6cw {
  border-bottom: 1px solid #aaa
}

._6cx {
  border-top: 1px solid #aaa
}

._1-7c {
  margin: auto
}

._1-7d {
  display: block;
  margin: auto
}

._1-7e {
  font-size: 17px;
  padding-top: 12px;
  text-align: center;
  width: 100%
}

._88b {
  border: 1px solid #dadde1;
  border-radius: 6px;
  display: table;
  margin-top: 12px;
  width: 100%
}

._88c {
  font-size: 17px;
  font-weight: bold
}

._5g_f {
  background: #8d949e;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  margin: 10px 12px;
  padding: 6px;
  vertical-align: middle;
  width: 16px
}

._5g_g {
  vertical-align: middle
}

._88e {
  display: table-row;
  width: 100%
}

._1lc7 {
  border-top: 1px solid #dadde1;
  display: table;
  width: 100%
}

._3c6l {
  display: table-row
}

._1lc9 {
  display: table-cell;
  padding-left: 12px;
  width: 60%
}

._3c6q {
  display: table;
  width: 100%
}

._3c6r {
  display: table-row
}

._3c6s {
  color: #8d949e;
  display: table-cell;
  padding: 0 0 12px 12px;
  width: 60%
}

._3c6t {
  display: table-cell;
  padding: 0 12px;
  width: 100%
}

._1lca {
  display: table-cell
}

._1lcc {
  color: #4267b2;
  float: right;
  padding-right: 12px
}

._3c6u {
  border-top: 1px solid #dadde1;
  margin: 0 12px 12px 12px
}

._3c71 {
  display: table-cell
}

._47g4 {
  border-top: 1px solid #dadde1;
  display: table-cell;
  padding: 12px
}

._p1v {
  border-top: 1px solid #dadde1;
  display: table-cell;
  padding: 12px;
  text-align: center
}

._47g5 {
  color: #000
}

._47g6 {
  color: #8d949e
}

._p1w {
  padding: 0 4px
}

.CometSettingsPage ._90lw {
  display: flex;
  margin-right: 80px
}

._nll {
  float: left;
  width: 275px
}

.CometSettingsPage ._nll {
  flex-grow: 1;
  width: 300px
}

._nll.wideText {
  width: 450px
}

.CometSettingsPage ._nll.wideText {
  flex-grow: 1;
  width: 300px
}

._28w2 {
  font-size: 12px;
  margin-top: 4px
}

._nlm {
  margin-left: 295px
}

.CometSettingsPage ._nlm {
  margin-left: 20px;
  width: 180px
}

a.fbSettingsListLink {
  background: transparent;
  display: block;
  text-decoration: none
}

a.fbSettingsListLink:hover {
  background: #f5f6f7;
  text-decoration: none
}

.fbSettingsListItemLabel {
  color: #333;
  float: left;
  font-size: 13px;
  width: 165px
}

.fbSettingsListItemLabelWithSubtitle {
  color: #1c1e21;
  font-size: 13px;
  padding-left: 6px
}

.fbSettingsListItemSubtitle {
  color: #606770;
  font-size: 13px;
  padding-left: 6px
}

.CometSettingsPage .fbSettingsListItemLabelWithSubtitle {
  font-size: 16px;
  line-height: 24px
}

.fbSettingsListItemEdited {
  background-color: #fff8bb
}

.fbSettingsListItemContent {
  display: block;
  padding-left: 5px
}

.fbSettingsListItemLabeled .fbSettingsListItemContent {
  margin-left: 175px;
  padding-left: 0
}

.fbSettingsListItemSaved,
.fbSettingsListItemEdit {
  color: #365899;
  float: right;
  padding-left: 25px;
  padding-right: 5px;
  text-align: right
}

.fbSettingsListItemSaved {
  color: #777
}

a:hover .fbSettingsListItemEdit {
  text-decoration: underline
}

a:hover .fbSettingsListItemEdit .img {
  visibility: visible
}

.fbSettingsListItemEdit .img,
a.async_saving .fbSettingsListItemEdit .img {
  visibility: hidden
}

a.async_saving .fbSettingsListItemEdit {
  background-image: url(/rsrc.php/v3/yb/r/GsNJNwuI-UM.gif);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left 2px
}


.fbSettingsListItemDelete {
  float: right;
  margin: 12px 8px 0
}

.SbxIframe iframe {
  vertical-align: top
}

.fbSettingsMobileRegisterForm {
  width: 275px
}

._3qku {
  background-color: #dadde1;
  border: 1px solid #ced0d4;
  border-radius: 3px;
  padding: 12px
}

._2bi_.uiInputLabelLabel {
  color: #000;
  vertical-align: bottom
}

.fbSettingsSections {
  border-bottom: 1px solid #aaa
}

.fbSettingsSectionsHidden {
  display: none
}

.fbSettingsSections .fbSettingsSectionsItem {
  padding-top: 0
}

.fbSettingsSections .fbSettingsSectionsItem.fbSettingsSectionsItemBorderTop {
  border-top: 1px solid #aaa
}

.fbSettingsSectionsItem {
  border-top: 0;
  border-bottom: 0
}

.fbSettingsSectionsItemName {
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 160px
}

.CometSettingsPage .fbSettingsSectionsItemName {
  margin-bottom: 18px;
  margin-top: 18px
}

.fbSettingsSectionsItemContent {
  width: 589px
}

.fbSettingsSections .subscriberDropdown,
.fbSettingsSections .subscriberCheckbox,
.fbSettingsSections .publicSearchCheckbox {
  width: 445px
}

._5zt3 {
  margin: 25px 0;
  text-align: center
}

._1xpm {
  margin-top: 12px
}

._1nfx {
  padding: 12px
}

._1nfz {
  padding: 12px
}

._4p8x {
  background-color: #f2f2f2;
  padding: 12px
}

._1nf- {
  margin-left: 12px
}

._5zf3 {
  margin: auto;
  width: 75%
}

._4p8y {
  width: 100%
}

._1nfz ._4p8y:hover {
  cursor: pointer
}

._4p8z {
  color: grey;
  display: block
}

._y5_ {
  color: #5399fc;
  font-weight: bold
}

._y60 {
  color: grey;
  padding-left: 4px;
  padding-right: 4px
}

._39gj {
  display: block;
  font-size: 15px;
  font-weight: bold
}

.CometSettingsPage ._39gj,
.CometSettingsPage ._3o7u {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px
}

._1fow {
  width: 44px
}

._1fow>img,
._1fow>i {
  margin-left: 12px;
  margin-top: 4px
}

._39gk {
  border-top: 1px solid #ccc;
  margin-top: 14px
}

._k7f {
  margin-top: 12px
}

._k7f:first-of-type {
  margin-top: 0
}

._k7g {
  background: #f5f6f7;
  color: #1d2129;
  padding: 12px
}

._3y6p {
  border-bottom: 1px solid #dddfe2;
  margin-bottom: 4px;
  padding-bottom: 8px
}

._4h8e {
  font-weight: bold;
  padding: 12px;
  text-align: left
}

._2gee {
  display: inline-block;
  min-width: 128px
}

.CometSettingsPage ._2gee {
  color: #216fdb
}

._bc0 {
  position: relative;
  top: 2px
}

._2gee,
._4h8f {
  line-height: 22px
}

._195p {
  font-size: 15px;
  padding: 18px;
  position: relative
}

._3o7u {
  font-weight: bold;
  line-height: 20px
}

._15v9 {
  border-bottom: 1px solid #e5e5e5
}

._a7w {
  border-bottom: 1px solid #e5e5e5;
  padding: 12px
}

._a7w:last-child {
  border-bottom: 0
}

._a7x {
  margin-right: 12px
}

._a7x img {
  position: relative;
  top: 2px
}

._1aml {
  display: block;
  font-size: 13px
}

.CometSettingsPage ._1aml {
  font-size: 16px
}

._1amm {
  padding-top: 6px
}

._1anp {
  color: #00a400;
  font-weight: bold
}

._1nfz ._4p8y._8voy:hover {
  cursor: auto
}

._tni {
  padding: 12px;
  width: 20%
}

._tnj {
  padding: 12px;
  width: 25%
}

._tnk {
  padding: 12px;
  width: 45%
}

._tno {
  color: gray;
  text-overflow: ellipsis
}

._tnp {
  font-weight: bold
}

.SettingsPage #headerArea {
  padding-bottom: 0
}

html .CometSettingsPage {
  background: #fff
}

html .fbSettingsNavigation .divider {
  background: #ccc;
  border: none;
  display: list-item;
  height: 1px;
  margin: 10px 0
}

.openPanel .fbSettingsListLink,
.openPanel .fbSettingsListItemDelete {
  display: none
}

.openPanel .content {
  display: block
}



#SettingsPage_Content .megaphone_box {
  border-top-width: 1px;
  margin-right: -20px
}

.code textarea {
  font: 12px monospace;
  width: 575px
}

.CometSettingsPage.CometSettingsPage #globalContainer {
  box-sizing: border-box;
  max-width: 1280px;
  min-width: 1000px;
  width: auto
}

.CometSettingsPage.hasLeftCol #leftCol {
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 320px;
  min-width: 240px;
  padding-top: 18px;
  width: 25%
}

.CometSettingsPage.hasLeftCol #mainContainer {
  border-right: none;
  display: flex;
  flex-direction: row
}

.CometSettingsPage.hasLeftCol #contentCol {
  box-sizing: border-box;
  flex-grow: 1;
  margin-left: 0;
  width: auto
}

.CometSettingsPage #contentCol #contentArea,
.CometSettingsPage #contentCol #headerArea {
  box-sizing: border-box;
  width: 100%
}

.CometSettingsPage #contentCol #headerArea {
  margin-left: 0;
  margin-right: 0;
  padding: 0 20px
}

.CometSettingsPage.hasLeftCol #pageFooter {
  background-color: transparent;
  margin-left: 340px
}

.CometSettingsPage.hasLeftCol #contentCurve {
  height: 1px
}

.CometSettingsPage .CometSettingsHeader,
.CometSettingsPage .CometSettingsMainHeader {
  font-size: 25px;
  font-weight: 700;
  line-height: 28px
}

.CometSettingsPage .CometSettingsMainHeader {
  padding-bottom: 15px;
  padding-left: 8px
}

.CometSettingsPage .CometSettingsHeaderBreadcrumbs {
  color: #65676b;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 2px
}

.CometSettingsPage .CometSettingsHeaderBreadcrumbs a {
  color: #65676b
}

.CometSettingsPage .uiSideNav .sideNavItem {
  margin-left: 0;
  padding-right: 8px
}

.CometSettingsPage .uiSideNav .item,
.CometSettingsPage .uiNarrowSideNav .uiSideNav .item {
  border-bottom: none;
  border-radius: 8px;
  border-top: none;
  margin-left: 0;
  margin-right: 16px;
  padding-top: 1px
}

.CometSettingsPage .uiSideNav .buttonWrap {
  width: 8px
}

.CometSettingsPage .uiSideNav .sideNavItem {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px
}

.CometSettingsPage .uiSideNav .sideNavItem .linkWrap {
  align-items: center;
  display: flex;
  height: 44px;
  max-width: 320px
}

.CometSettingsPage .uiSideNav .sideNavItem .imgWrap {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: center;
  padding-right: 12px;
  width: 28px
}

.CometSettingsPage .uiSideNav .selectedItem .item,
.CometSettingsPage .uiSideNav .selectedItem .item:hover {
  background-color: #ebedf0;
  font-weight: 600
}

.CometSettingsPage .uiSideNav .divider {
  margin: 10px 16px 10px -16px
}

.CometSettingsPage #contentCol .uiHeader h2.uiHeaderTitle {
  color: #1c1e21;
  font-size: 21px;
  font-weight: 600;
  line-height: 24px
}

.CometSettingsPage #contentCol li {
  padding: 8px 0
}



.CometSettingsPage #contentCol h3 {
  color: #1c1e21;
  font-size: 16px;
  line-height: 20px
}

.CometSettingsPage #contentCol .fbSettingsListItemContent {
  color: #65676b;
  font-size: 16px;
  letter-spacing: -0.24px;
  line-height: 20px
}

.CometSettingsPage #contentCol .fbSettingsListItemEdit,
.CometSettingsPage #contentCol .fbSettingsListItemSaved {
  font-size: 16px;
  margin-left: 0;
  max-width: 200px
}

.CometSettingsPage #contentCol .fbSettingsEditorFields,
.CometSettingsPage #contentCol .fbSettingsEditor,
.CometSettingsPage #contentCol label,
.CometSettingsPage #contentCol td,
.CometSettingsPage #contentCol textarea,
.CometSettingsPage #contentCol,
.CometSettingsPage #contentCol .fsm,
.CometSettingsPage #contentCol .fbSettingsListItemLabel {
  font-size: 16px
}

.CometSettingsPage #contentCol strong,
.CometSettingsPage #contentCol .dataRow .label {
  font-weight: 600
}

.CometSettingsPage #contentCol .fbSettingsEditor .inputtext,
.CometSettingsPage #contentCol .fbSettingsEditor .inputpassword {
  border-radius: 3px;
  color: #1c1e21;
  font-size: 17px;
  height: 20px;
  line-height: 20 / 16
}

.CometSettingsPage #contentCol .fbSettingsEditor .uiInputLabelCheckbox,
.CometSettingsPage #contentCol .fbSettingsEditor .uiInputLabelRadio {
  margin-top: 4px
}

.CometSettingsPage #contentCol .fbSettingsEditorFields a,
.CometSettingsPage #contentCol .fbSettingsListItemEdit {
  color: #216fdb
}

.CometSettingsPage #contentCol .fbSettingsEditorFields a[role='button'] {
  color: inherit
}

.CometSettingsPage #contentCol .fbSettingsEditorFields .extended_field {
  margin-top: -4px
}

.CometSettingsPage .fbSettingsListItemLabeled .fbSettingsListItemContent {
  margin-left: 200px
}

.CometSettingsPage .fbSettingsSectionsItemContent {
  color: #65676b;
  font-size: 16px;
  min-width: 539px;
  width: calc(100% - 170px)
}
._2ph- {
  padding: 8px;
}
.CometSettingsPage .fbSettingsSectionsItemContent .fsm a {
  color: #216fdb;
  font-size: inherit;
  line-height: inherit
}

.CometSettingsPage #contentCol .uiLinkButton input,
.CometSettingsPage #contentCol .fcb a {
  color: #216fdb;
  font-size: inherit;
  line-height: inherit;
  margin-top: -2px;
  padding-left: 8px
}

.CometSettingsPage #contentCol .uiLinkButton input.uiLinkButtonInput {
  padding-left: 0
}

.CometSettingsPage .show_label .fbSettingsEditorFields {
  margin-left: 200px
}

.CometSettingsPage #contentCol .fbSettingsEditorFields .uiTokenizer {
  margin-bottom: 4px
}

.CometSettingsPage #contentCol .fbSettingsEditorFields .uiTokenizer .uiToken {
  height: 20px
}

.CometSettingsPage #contentCol .fbSettingsEditorFields .uiTokenizer .tokenarea {
  padding-left: 4px;
  padding-right: 4px
}

.CometSettingsPage #contentCol .fbSettingsRestrictionsSection .fbSettingsEditorFields {
  margin-left: 12px
}

.CometSettingsPage #contentCol .fbSettingsRestrictionsSection a[role='button'] {
  color: #1c1e21
}

.CometSettingsPageInformationalTab {
  margin-left: 8px;
  margin-right: 32px;
  margin-top: 20px
}

.CometSettingsPageInformationalTab .informationalLabel {
  font-weight: normal
}

._30i5 {
  background-color: #e9ebee;
  border: 1px solid #dddfe2;
  padding: 8pt 10px
}

#SettingsPage_Content ._30i5 ._5k6- ._5k6_ {
  background-color: transparent;
  border: medium none;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 0;
  margin: 0;
  padding: 7px 0 10px 0
}

#SettingsPage_Content ._30i5 ._5k6- ._5k70 {
  padding-bottom: 0;
  padding-left: 0
}

._30i5 ._5k72 {
  padding-bottom: 2px
}

._30i5 .SurveyQuestionRatingTable th:first-child {
  display: none
}

._30i5 .SurveyQuestionRatingRowAlt .SurveyQuestionRatingTableCell {
  background-color: #e9ebee
}

._30i5 .SurveyQuestionRatingRow:hover .SurveyQuestionRatingTableCell {
  background-color: #e9ebee
}

.uiInfoTable {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%
}

.uiInfoTableFixed {
  table-layout: fixed
}

.uiInfoTable .spacer td {
  padding: 5px 0
}

.noBorder .spacer td {
  padding: 0;
  visibility: hidden
}

.uiInfoTable .label,
.uiInfoTable .data,
.uiInfoTable .rightCol {
  padding: 3px 0 1px 0;
  text-align: left;
  vertical-align: top
}

.uiInfoTable .dataRow .data,
.uiInfoTable .dataRow .rightCol {
  padding-top: 5px
}

.uiInfoTable .data>input,
.uiInfoTable .data>label input,
.uiInfoTable .rightCol>input,
.uiInfoTable .rightCol>label input {
  margin-left: 0
}

.uiInfoTable .label {
  color: #666;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
  width: 150px
}

.uiInfoTable .dataRow .label {
  padding-top: 8px
}

.uiInfoTable .label .annotation {
  color: #999
}

.uiInfoTable .rightCol {
  padding: 0 0 0 20px;
  width: 225px
}

.uiSideNav ul {
  display: none
}

.uiSideNav .open ul {
  display: block
}

.uiSideNav .hidden {
  display: none
}

.uiSideNav .item,
.uiSideNav .subitem {
  border-bottom: 1px solid #fff;
  color: #333;
  display: block;
  min-height: 17px;
  padding: 3px 8px 0 28px;
  text-decoration: none
}

.uiSideNav .subitem {
  padding-left: 37px
}

.uiSideNav .item:hover,
.uiSideNav .item:active,
.uiSideNav .item:focus,
.uiSideNav .subitem:hover,
.uiSideNav .subitem:active,
.uiSideNav .subitem:focus,
.uiSideNav .highlighted .item:hover,
.uiSideNav ul .highlighted .subitem:hover {
  background-color: #f5f6f7;
  text-decoration: none
}

.uiSideNav .selectedItem .item,
.uiSideNav .selectedItem .item:hover,
.uiSideNav ul .selectedItem .subitem,
.uiSideNav ul .selectedItem .subitem:hover {
  background-color: #c4d2e7;
  font-weight: bold
}

.uiSideNav .highlighted .item,
.uiSideNav ul .highlighted .subitem {
  background-color: #fffbe2;
  text-decoration: none
}

.uiSideNav .item .imgWrap {
  width: 18px
}

.uiSideNav .external {
  background: url(/rsrc.php/v3/yW/r/AebrcwrBeG6.png) no-repeat right 3px;
  padding-right: 12px
}

.uiSideNav .item .linkWrap {
  display: block;
  max-width: 116px;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap
}

.uiSideNavCountText {
  color: #7f7f7f
}

.uiSideNav .item .uiSideNavCountRed {
  background-color: #f64c4c;
  color: #fff
}

.uiSideNav .uiSideNavCountRedBordered {
  background: #f03d25;
  border: solid 1px #c0311e;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  margin-top: 3px;
  padding: 0 2px 0 3px;
  position: relative;
  white-space: nowrap
}

.uiSideNav .loading .item,
.uiSideNav .sideNavItem .loading .subitem {
  background-color: #f5f6f7;
  border-bottom-color: #fff;
  border-color: #f2f2f2
}

.uiSideNav .loading .subitem {
  background-color: #fff;
  border-color: #fff
}

.uiFutureSideNav .actionLinks {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase
}

.droppableNav .actionLinks {
  display: block
}

.actionLinks {
  line-height: 12px;
  padding: 4px 0 4px 28px;
  position: relative
}

.uiSideNav .loadingIndicator,
.actionLinks .loadingIndicator {
  animation-play-state: paused;
  display: none;
  position: absolute;
  right: 10px;
  top: 3px
}

.loading .loadingIndicator,
.async_saving .loadingIndicator {
  animation-play-state: running;
  display: block
}

.editMode .loadingIndicator,
.loading ul .loadingIndicator {
  animation-play-state: paused;
  display: none
}

.uiSideNav .showSubitems .hiddenSubitem,
.uiSideNav .open .navMore {
  display: block
}

.uiSideNav .hiddenSubitem,
.uiSideNav .showSubitems .navMore,
.uiSideNav .navMore {
  display: none
}

.uiSideNav li .navMore {
  margin: 4px 0 10px 37px
}

.uiSideNav .loading .navMore {
  background-color: transparent
}

.uiSideNavAux {
  float: right;
  position: relative;
  right: -20px;
  top: 2px
}

.async_saving .uiSideNavAux,
.loading .uiSideNavAux {
  display: none
}

.uiSideNav .loading .uiSideNavSpinner,
.uiFutureSideNav .loading .uiSideNavSpinner {
  animation-play-state: running;
  display: inline-block
}

.editMode .uiSideNav .loading .uiSideNavSpinner,
.uiSideNav .loading ul .uiSideNavSpinner {
  animation-play-state: paused;
  display: none
}

.uiSideNav .uiSideNavSpinner {
  animation-play-state: paused;
  position: relative;
  right: 1px;
  top: -1px
}

.uiSideNav .subitem .uiSideNavSpinner {
  top: 1px
}

.uiSideNav .buttonWrap {
  clear: left;
  float: left;
  height: 20px;
  text-align: right;
  width: 20px
}

.uiSideNav .sideNavItem {
  margin-left: -20px;
  padding-right: 20px;
  width: 100%
}

.uiSideNav .drag {
  margin-left: 0
}

.uiSideNav .item,
.uiSideNav .subitem {
  margin-left: 20px;
  margin-right: -20px;
  -moz-user-select: none
}

.uiSideNav .sideNavItem .imgWrap {
  float: left;
  margin-left: -22px;
  margin-top: -1px
}

.uiSideNav .sideNavItem .linkWrap {
  display: block;
  padding-left: 0;
  white-space: normal
}

.uiSideNav .sideNavItem .hasCount {
  max-width: 110px
}

.uiSideNav .sideNavItem .noCount {
  max-width: 145px
}

.uiSideNav .sideNavItem .subitem .hasCount {
  max-width: 90px
}

.uiSideNav .sideNavItem .subitem .noCount {
  max-width: 125px
}

.uiSideNav .loading .noCount {
  max-width: 127px
}

.uiSideNav .sideNavItem .uiSideNavEditButton {
  margin: 2px 5px 0 0;
  text-align: left
}

.uiNarrowSideNav .uiSideNav .sideNavItem:hover .buttonWrap,
.uiNarrowSideNav .uiSideNav .editMenuOpened .buttonWrap {
  display: block;
  padding-right: 4px
}

.uiNarrowSideNav .uiSideNav .buttonWrap,
.uiNarrowSideNav .uiSideNav .sideNavItem:hover .item .rfloat,
.uiNarrowSideNav .uiSideNav .editMenuOpened .item .rfloat {
  display: none
}

.uiNarrowSideNav .uiSideNav .buttonWrap {
  float: right;
  margin-right: -2px;
  width: 0
}

.uiNarrowSideNav .sideNavItem {
  margin-left: 0;
  padding-right: 0
}

.uiNarrowSideNav .sideNavItem .item,
.uiNarrowSideNav .sideNavItem .subitem {
  margin-left: 0;
  margin-right: 0
}

.uiNarrowSideNav .uiSideNavAux {
  right: 0
}

.sp_fHxCi0eLlUk {
  background-image: url(/rsrc.php/v3/yx/r/AuivRs2gIO_.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}

.sp_fHxCi0eLlUk.sx_5632b6 {
  background-position: -16px 0
}

.selected .sp_fHxCi0eLlUk.sx_5632b6 {
  background-position: 0 0
}

.sp_fHxCi0eLlUk.sx_0e6569 {
  background-position: -16px -17px
}

.selected .sp_fHxCi0eLlUk.sx_0e6569 {
  background-position: 0 -17px
}

.sp_fHxCi0eLlUk.sx_8cfda7 {
  background-position: 0 -53px
}

.sp_fHxCi0eLlUk.sx_0a5a3c {
  background-position: 0 -70px
}

.sp_fHxCi0eLlUk.sx_ddbb2d {
  background-position: 0 -87px
}

.sp_fHxCi0eLlUk.sx_b6b2f7 {
  width: 18px;
  height: 18px;
  background-position: 0 -34px
}

.sp_fHxCi0eLlUk.sx_59d35c {
  background-position: 0 -104px
}

.sp_fHxCi0eLlUk.sx_3af87a {
  width: 14px;
  height: 14px;
  background-position: -17px -69px
}

.sp_fHxCi0eLlUk.sx_08d5b9 {
  width: 15px;
  height: 15px;
  background-position: -17px -53px
}

.sp_fHxCi0eLlUk.sx_7e4437 {
  background-position: 0 -121px
}

.sp_fHxCi0eLlUk.sx_560660 {
  background-position: 0 -138px
}

.sp_fHxCi0eLlUk.sx_963b5e {
  background-position: 0 -155px
}

.sp_fHxCi0eLlUk.sx_a48a0c {
  background-position: 0 -172px
}

.sp_fHxCi0eLlUk.sx_798298 {
  background-position: 0 -189px
}

.sp_fHxCi0eLlUk.sx_90ba11 {
  background-position: 0 -206px
}

.sp_fHxCi0eLlUk.sx_1abb7d {
  background-position: 0 -223px
}

.sp_fHxCi0eLlUk.sx_c637da {
  background-position: 0 -240px
}

.sp_fHxCi0eLlUk.sx_547893 {
  background-position: 0 -257px
}

.sp_fHxCi0eLlUk.sx_486a74 {
  background-position: 0 -274px
}

.sp_fHxCi0eLlUk.sx_15bf42 {
  height: 15px;
  background-position: 0 -291px
}

.sp_gzGnAj2mPnD {
  background-image: url(/rsrc.php/v3/yG/r/pfl2E9nc2L5.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 28px;
  width: 28px
}

.sp_gzGnAj2mPnD.sx_6b5f41 {
  background-position: 0 0
}

.sp_gzGnAj2mPnD.sx_33b889 {
  background-position: 0 -29px
}

.sp_gzGnAj2mPnD.sx_d307b7 {
  background-position: 0 -58px
}

.sp_gzGnAj2mPnD.sx_cea392 {
  background-position: 0 -87px
}

.sp_gzGnAj2mPnD.sx_d92d5f {
  background-position: 0 -116px
}

.sp_gzGnAj2mPnD.sx_804dd7 {
  background-position: 0 -145px
}

.sp_gzGnAj2mPnD.sx_5ed697 {
  background-position: 0 -174px
}

.sp_gzGnAj2mPnD.sx_820fe1 {
  background-position: 0 -203px
}

.sp_gzGnAj2mPnD.sx_036884 {
  background-position: 0 -232px
}

.sp_gzGnAj2mPnD.sx_8e0375 {
  background-position: 0 -261px
}

.sp_gzGnAj2mPnD.sx_239c21 {
  background-position: 0 -290px
}

.sp_gzGnAj2mPnD.sx_b06d33 {
  background-position: 0 -319px
}

.sp_gzGnAj2mPnD.sx_a34566 {
  background-position: 0 -348px
}

.sp_gzGnAj2mPnD.sx_c6c9f8 {
  background-position: 0 -377px
}

.sp_gzGnAj2mPnD.sx_f8a8ca {
  background-position: 0 -406px
}

.sp_gzGnAj2mPnD.sx_c82808 {
  background-position: 0 -435px
}

.sp_gzGnAj2mPnD.sx_335604 {
  background-position: 0 -464px
}

.sp_gzGnAj2mPnD.sx_114bfe {
  background-position: 0 -493px
}

.sp_gzGnAj2mPnD.sx_b10324 {
  background-position: 0 -522px
}

.sp_gzGnAj2mPnD.sx_3e376b {
  background-position: 0 -551px
}

.sp_gzGnAj2mPnD.sx_557d1d {
  background-position: 0 -580px
}

.sp_ub4b-D9OLay {
  background-image: url(../assets/q0UWHsEkZns.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_ub4b-D9OLay.sx_69e1a4 {
  background-position: 0 0
}

.sp_ub4b-D9OLay.sx_156b57 {
  background-position: 0 -21px
}

.sp_ub4b-D9OLay.sx_5d1b14 {
  background-position: 0 -42px
}

.sp_ub4b-D9OLay.sx_36c243 {
  background-position: 0 -63px
}

.sp_ub4b-D9OLay.sx_07a809 {
  background-position: 0 -84px
}

.sp_ub4b-D9OLay.sx_9bd75d {
  background-position: 0 -105px
}

.sp_ub4b-D9OLay.sx_9824b6 {
  background-position: 0 -126px
}

.sp_ub4b-D9OLay.sx_f9c4e7 {
  background-position: 0 -147px
}

.sp_ub4b-D9OLay.sx_d4903f {
  background-position: 0 -168px
}

.sp_ub4b-D9OLay.sx_bbe596 {
  background-position: 0 -189px
}

.sp_ub4b-D9OLay.sx_5482ad {
  background-position: 0 -210px
}

.sp_ub4b-D9OLay.sx_4ba21c {
  background-position: 0 -231px
}

#bootloader_5yUr5 {
  height: 42px;
}

.bootloader_5yUr5 {
  display: block !important;
}

.pas {
  padding: 5px
}

.pam {
  padding: 10px
}

.pal {
  padding: 20px
}

.pts {
  padding-top: 5px
}

.ptm {
  padding-top: 10px
}

.ptl {
  padding-top: 20px
}

.prs {
  padding-right: 5px
}

.prm {
  padding-right: 10px
}

.prl {
  padding-right: 20px
}

.pbs {
  padding-bottom: 5px
}

.pbm {
  padding-bottom: 10px
}

.pbl {
  padding-bottom: 20px
}

.pls {
  padding-left: 5px
}

.plm {
  padding-left: 10px
}

.pll {
  padding-left: 20px
}

.phs {
  padding-left: 5px;
  padding-right: 5px
}

.phm {
  padding-left: 10px;
  padding-right: 10px
}

.phl {
  padding-left: 20px;
  padding-right: 20px
}

.pvs {
  padding-top: 5px;
  padding-bottom: 5px
}

.pvm {
  padding-top: 10px;
  padding-bottom: 10px
}

.pvl {
  padding-top: 20px;
  padding-bottom: 20px
}

.mas {
  margin: 5px
}

.mam {
  margin: 10px
}

.mal {
  margin: 20px
}

.mts {
  margin-top: 5px
}

.mtm {
  margin-top: 10px
}

.mtl {
  margin-top: 20px
}

.mrs {
  margin-right: 5px
}

.mrm {
  margin-right: 10px
}

.mrl {
  margin-right: 20px
}

.mbs {
  margin-bottom: 5px
}

.mbm {
  margin-bottom: 10px
}

.mbl {
  margin-bottom: 20px
}

.mls {
  margin-left: 5px
}

.mlm {
  margin-left: 10px
}

.mll {
  margin-left: 20px
}

.mhs {
  margin-left: 5px;
  margin-right: 5px
}

.mhm {
  margin-left: 10px;
  margin-right: 10px
}

.mhl {
  margin-left: 20px;
  margin-right: 20px
}

.mvs {
  margin-top: 5px;
  margin-bottom: 5px
}

.mvm {
  margin-top: 10px;
  margin-bottom: 10px
}

.mvl {
  margin-top: 20px;
  margin-bottom: 20px
}

.fss {
  font-size: 10px
}

.fsm {
  font-size: 13px
}

.fsl {
  font-size: 15px
}

.fsxl {
  font-size: 17px
}

.fsxxl {
  font-size: 19px
}

.fwn {
  font-weight: normal
}

.fwb {
  font-weight: 600
}

.fcb {
  color: #333
}

.fcg {
  color: #90949c
}

.fcw {
  color: #fff
}

.uiHeaderPage {
  padding: 6px 0 16px;
}

.hidden_elem {
  display: none !important;
}

#contentCol {
  background-color: #fff;
  padding-top: 15px;
}

.fbSettingsListItemEditText {
  white-space: nowrap;
}






._50f8 {
  color: #90949c;
}

._57d8 {
  background-color: #f5f6f7;
}
._4-u2 {
  border: 1px solid #dddfe2;
  border-radius: 3px;
}
.hasLeftCol #contentCurve {
  border: 1px solid #ccc;
      border-top-color: rgb(204, 204, 204);
      border-top-style: solid;
      border-top-width: 1px;
  border-top: none;
  position: relative;
  margin-bottom: 10px;
}
#bottomContent {
  clear: both;
  padding: 0 20px 12px;

}
.uiGrid .hRght {
  text-align: right;
}

._517h:hover {
  background-color: #ebedf0;
}
._4jy0 {
  border: 1px solid #ccd0d5;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 13px;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  justify-content: center;
  padding: 2px 8px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  color: #4b4f56;
}
._2pi0 {
  padding: 16px;
}

.uiBoxGray {
  background-color: #f2f2f2;
}

._4jy1:hover {
  background-color: #365899;
  border-color: #365899;
}
._4jy1 {
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
}
.uiLoadingIndicatorAsync.uiLoadingIndicatorAsync {
  display: none;
}

._42fu {
  border-radius: 2px;
  box-sizing: content-box;
  color: #4b4f56;
  font-size: 13px;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  justify-content: center;
  line-height: 22px;
  padding: 0 6px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
}




._42ft + ._42ft {
  margin-left: 4px;
}
._42fu, ._42gx:focus, ._42gx:hover {
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
}
._42g- {
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
}
._3sto td {
  padding: 10px 0;
}

._8vc6 {
  border-bottom: 1px solid #dddfe2;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
._8vbr {
  border-bottom: 1px solid #dddfe2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


.uiLinkButton input {
  background: none;
  border: none;
  color: #365899;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
      margin-top: 0px;
  padding: 0;
      padding-left: 0px;
  vertical-align: top;
}

.el-inline{
  display: inline-block;
}
.CometSettingsPage ._39gj, .CometSettingsPage ._3o7u{
  display: flex;
}