sp_09zgoVgTxqp {
  background-image: url(/rsrc.php/v3/yr/r/yQAlXGBtWhd.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}

.sp_09zgoVgTxqp.sx_816df8 {
  width: 20px;
  height: 20px;
  background-position: 0 -58px
}

.sp_09zgoVgTxqp.sx_0c712d {
  width: 20px;
  height: 20px;
  background-position: 0 -79px
}

.sp_09zgoVgTxqp.sx_4b1c2e {
  background-position: 0 -142px
}

.sp_09zgoVgTxqp.sx_cb8d91 {
  background-position: 0 -159px
}

.sp_09zgoVgTxqp.sx_6f0aa7 {
  width: 20px;
  height: 20px;
  background-position: 0 -100px
}

.sp_09zgoVgTxqp.sx_74c75b {
  background-position: 0 -176px
}

.sp_09zgoVgTxqp.sx_fc8172 {
  background-position: 0 -193px
}

.sp_09zgoVgTxqp.sx_127086 {
  background-position: 0 -210px
}

.sp_09zgoVgTxqp.sx_8ea04e {
  background-position: 0 -227px
}

.sp_09zgoVgTxqp.sx_2e2087 {
  background-position: 0 -244px
}

.sp_09zgoVgTxqp.sx_7e9089 {
  background-position: 0 -261px
}

.sp_09zgoVgTxqp.sx_d37af0 {
  background-position: 0 -278px
}

.sp_09zgoVgTxqp.sx_f55d72 {
  background-position: 0 -295px
}

.sp_09zgoVgTxqp.sx_b3e3a9 {
  background-position: 0 -312px
}

.sp_09zgoVgTxqp.sx_2ddf0f {
  background-position: 0 -329px
}

.sp_09zgoVgTxqp.sx_31f06b {
  width: 24px;
  height: 24px;
  background-position: 0 -33px
}

.sp_09zgoVgTxqp.sx_300748 {
  background-position: 0 -346px
}

.sp_09zgoVgTxqp.sx_be85de {
  background-position: 0 -363px
}

.sp_09zgoVgTxqp.sx_0fdce0 {
  background-position: 0 -380px
}

.sp_09zgoVgTxqp.sx_82e5c5 {
  background-position: 0 -397px
}

.sp_09zgoVgTxqp.sx_b54b3a {
  background-position: 0 -414px
}

.sp_09zgoVgTxqp.sx_f8dac9 {
  background-position: 0 -431px
}

.sp_09zgoVgTxqp.sx_738dc2 {
  width: 12px;
  height: 12px;
  background-position: -17px -142px
}

.sp_09zgoVgTxqp.sx_00479b {
  background-position: 0 -448px
}

.sp_09zgoVgTxqp.sx_5b6f71 {
  width: 32px;
  height: 32px;
  background-position: 0 0
}

.sp_09zgoVgTxqp.sx_f02de5 {
  background-position: 0 -465px
}

.sp_09zgoVgTxqp.sx_1f601f {
  background-position: 0 -482px
}

.sp_09zgoVgTxqp.sx_ffa7c0 {
  background-position: 0 -499px
}

.sp_09zgoVgTxqp.sx_916092 {
  width: 20px;
  height: 20px;
  background-position: 0 -121px
}

.sp_09zgoVgTxqp.sx_eb7492 {
  width: 12px;
  height: 12px;
  background-position: -17px -155px
}

.sp_09zgoVgTxqp.sx_bcf16b {
  background-position: 0 -516px
}

.sp_EC24sIfEZIC {
  background-image: url(/rsrc.php/v3/yS/r/O8kiHv92ahz.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 36px;
  width: 36px
}

.sp_EC24sIfEZIC.sx_2e2ec4 {
  background-position: 0 0
}

.sp_EC24sIfEZIC.sx_d988da {
  width: 20px;
  height: 20px;
  background-position: 0 -37px
}

.sp_MaN6RVSADfY {
  background-image: url(/rsrc.php/v3/ym/r/zqAYrOndVL1.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_MaN6RVSADfY.sx_9f2efb {
  width: 24px;
  height: 24px;
  background-position: 0 0
}

.sp_MaN6RVSADfY.sx_a2fbb7 {
  background-position: 0 -100px
}

.sp_MaN6RVSADfY.sx_baa9f4 {
  background-position: 0 -121px
}

.sp_MaN6RVSADfY.sx_36fa70 {
  background-position: 0 -142px
}

.sp_MaN6RVSADfY.sx_854f7d {
  width: 16px;
  height: 16px;
  background-position: 0 -457px
}

.sp_MaN6RVSADfY.sx_a88db0 {
  width: 16px;
  height: 16px;
  background-position: 0 -474px
}

.sp_MaN6RVSADfY.sx_1f33a6 {
  width: 16px;
  height: 16px;
  background-position: 0 -491px
}

.sp_MaN6RVSADfY.sx_c5620c {
  background-position: 0 -163px
}

.sp_MaN6RVSADfY.sx_6525a6 {
  width: 16px;
  height: 16px;
  background-position: 0 -508px
}

.sp_MaN6RVSADfY.sx_6997e4 {
  background-position: 0 -184px
}

.sp_MaN6RVSADfY.sx_e9cce6 {
  background-position: 0 -205px
}

.sp_MaN6RVSADfY.sx_6d2aaa {
  width: 12px;
  height: 12px;
  background-position: 0 -593px
}

.sp_MaN6RVSADfY.sx_0592ed {
  background-position: 0 -226px
}

.sp_MaN6RVSADfY.sx_bb42fa {
  width: 16px;
  height: 16px;
  background-position: 0 -525px
}

.sp_MaN6RVSADfY.sx_c3f8d0 {
  width: 16px;
  height: 16px;
  background-position: 0 -542px
}

.sp_MaN6RVSADfY.sx_5f7956 {
  width: 16px;
  height: 16px;
  background-position: 0 -559px
}

.sp_MaN6RVSADfY.sx_1ed374 {
  width: 16px;
  height: 16px;
  background-position: 0 -576px
}

.sp_MaN6RVSADfY.sx_5044ca {
  background-position: 0 -247px
}

.sp_MaN6RVSADfY.sx_5fd262 {
  width: 24px;
  height: 24px;
  background-position: 0 -25px
}

.sp_MaN6RVSADfY.sx_29353c {
  background-position: 0 -268px
}

.sp_MaN6RVSADfY.sx_dc8cff {
  background-position: 0 -289px
}

.sp_MaN6RVSADfY.sx_ade2d1 {
  background-position: 0 -310px
}

.sp_MaN6RVSADfY.sx_1b99d4 {
  background-position: 0 -331px
}

.sp_MaN6RVSADfY.sx_170cef {
  width: 24px;
  height: 24px;
  background-position: 0 -50px
}

.sp_MaN6RVSADfY.sx_ba9be9 {
  background-position: 0 -352px
}

.sp_MaN6RVSADfY.sx_f5a306 {
  background-position: 0 -373px
}

.sp_MaN6RVSADfY.sx_8e6311 {
  width: 24px;
  height: 24px;
  background-position: 0 -75px
}

.sp_MaN6RVSADfY.sx_8a93cf {
  background-position: 0 -394px
}

.sp_MaN6RVSADfY.sx_0f8309 {
  background-position: 0 -415px
}

.sp_MaN6RVSADfY.sx_6bbff4 {
  background-position: 0 -436px
}

.sp_PG0F8XoSQdP {
  background-image: url(/rsrc.php/v3/yO/r/BDye28Hu8Ak.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px
}

.sp_PG0F8XoSQdP.sx_c1eeaf {
  background-position: 0 0
}

.sp_PH9MVwULs3c {
  background-image: url(/rsrc.php/v3/yy/r/9CUfJ5cFwbz.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}

.sp_PH9MVwULs3c.sx_19ff5c {
  background-position: 0 0
}

.sp_QZDcADymq5h {
  background-image: url(/rsrc.php/v3/yq/r/VN1tfHVg909.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_QZDcADymq5h.sx_53508b {
  background-position: 0 0
}

.sp_TYNNVYzk0HY {
  background-image: url(/rsrc.php/v3/y1/r/8CwmEusE4_9.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_TYNNVYzk0HY.sx_76535b {
  background-position: -211px -199px
}

.sp_TYNNVYzk0HY.sx_bace2f {
  background-position: -161px -224px
}

.sp_TYNNVYzk0HY.sx_513027 {
  background-position: -182px -224px
}

.sp_TYNNVYzk0HY.sx_402cc7 {
  width: 16px;
  height: 16px;
  background-position: -105px -534px
}

.sp_TYNNVYzk0HY.sx_69545b {
  background-position: -203px -224px
}

.sp_TYNNVYzk0HY.sx_a8362b {
  background-position: -161px -245px
}

.sp_TYNNVYzk0HY.sx_55b134 {
  background-position: -182px -245px
}

.sp_TYNNVYzk0HY.sx_50ca56 {
  background-position: -203px -245px
}

.sp_TYNNVYzk0HY.sx_140c4d {
  background-position: -161px -266px
}

.sp_TYNNVYzk0HY.sx_b377aa {
  background-position: -182px -266px
}

.sp_TYNNVYzk0HY.sx_58f401 {
  background-position: -203px -266px
}

.sp_TYNNVYzk0HY.sx_cc4db7 {
  background-position: -161px -287px
}

.sp_TYNNVYzk0HY.sx_bf37b9 {
  width: 16px;
  height: 16px;
  background-position: -122px -534px
}

.sp_TYNNVYzk0HY.sx_8d61bc {
  background-position: -182px -287px
}

.sp_TYNNVYzk0HY.sx_840ee0 {
  background-position: -203px -287px
}

.sp_TYNNVYzk0HY.sx_9fb578 {
  background-position: -161px -308px
}

.sp_TYNNVYzk0HY.sx_494107 {
  background-position: -182px -308px
}

.sp_TYNNVYzk0HY.sx_967b7b {
  background-position: -203px -308px
}

.sp_TYNNVYzk0HY.sx_cae8b4 {
  width: 16px;
  height: 16px;
  background-position: -139px -534px
}

.sp_TYNNVYzk0HY.sx_28faf6 {
  background-position: -161px -329px
}

.sp_TYNNVYzk0HY.sx_9a7fd4 {
  width: 12px;
  height: 12px;
  background-position: -224px -224px
}

.sp_TYNNVYzk0HY.sx_df0a45 {
  background-position: -182px -329px
}

.sp_TYNNVYzk0HY.sx_7936ec {
  background-position: -203px -329px
}

.sp_TYNNVYzk0HY.sx_3bef02 {
  background-position: -161px -350px
}

.sp_TYNNVYzk0HY.sx_847f06 {
  background-position: -182px -350px
}

.sp_TYNNVYzk0HY.sx_928133 {
  background-position: -203px -350px
}

.sp_TYNNVYzk0HY.sx_8260e8 {
  background-position: -161px -371px
}

.sp_TYNNVYzk0HY.sx_3ae1aa {
  background-position: -182px -371px
}

.sp_TYNNVYzk0HY.sx_177cfe {
  width: 24px;
  height: 24px;
  background-position: -161px -149px
}

.sp_TYNNVYzk0HY.sx_336f4c {
  background-position: -203px -371px
}

.sp_TYNNVYzk0HY.sx_6d09b9 {
  background-position: -161px -392px
}

.sp_TYNNVYzk0HY.sx_9f7548 {
  background-position: -182px -392px
}

.sp_TYNNVYzk0HY.sx_202075 {
  background-position: -203px -392px
}

.sp_TYNNVYzk0HY.sx_851d67 {
  background-position: -161px -413px
}

.sp_TYNNVYzk0HY.sx_26c5aa {
  background-position: -182px -413px
}

.sp_TYNNVYzk0HY.sx_a86cd0 {
  background-position: -203px -413px
}

.sp_TYNNVYzk0HY.sx_7f4053 {
  background-position: -161px -434px
}

.sp_TYNNVYzk0HY.sx_793a01 {
  background-position: -182px -434px
}

.sp_TYNNVYzk0HY.sx_f2bc64 {
  background-position: -203px -434px
}

.sp_TYNNVYzk0HY.sx_dbcb84 {
  width: 16px;
  height: 16px;
  background-position: -156px -534px
}

.sp_TYNNVYzk0HY.sx_be0d03 {
  background-position: 0 -471px
}

.sp_TYNNVYzk0HY.sx_2a5f4f {
  width: 24px;
  height: 24px;
  background-position: -186px -149px
}

.sp_TYNNVYzk0HY.sx_e9c23b {
  background-position: -21px -471px
}

.sp_TYNNVYzk0HY.sx_6cf337 {
  background-position: -42px -471px
}

.sp_TYNNVYzk0HY.sx_86a47d {
  width: 16px;
  height: 16px;
  background-position: -173px -534px
}

.sp_TYNNVYzk0HY.sx_8b9124 {
  background-position: -63px -471px
}

.sp_TYNNVYzk0HY.sx_03fe55 {
  width: 16px;
  height: 16px;
  background-position: -190px -534px
}

.sp_TYNNVYzk0HY.sx_e69827 {
  background-position: -84px -471px
}

.sp_TYNNVYzk0HY.sx_ec6146 {
  width: 16px;
  height: 16px;
  background-position: -207px -534px
}

.sp_TYNNVYzk0HY.sx_96a8d5 {
  background-position: -105px -471px
}

.sp_TYNNVYzk0HY.sx_02edf7 {
  background-position: -126px -471px
}

.sp_TYNNVYzk0HY.sx_173ee9 {
  background-position: -147px -471px
}

.sp_TYNNVYzk0HY.sx_4c45c4 {
  background-position: -168px -471px
}

.sp_TYNNVYzk0HY.sx_b36716 {
  background-position: -189px -471px
}

.sp_TYNNVYzk0HY.sx_05b641 {
  background-position: -210px -471px
}

.sp_TYNNVYzk0HY.sx_92bf1a {
  background-position: 0 -492px
}

.sp_TYNNVYzk0HY.sx_e6338a {
  background-position: -21px -492px
}

.sp_TYNNVYzk0HY.sx_eba508 {
  width: 16px;
  height: 16px;
  background-position: 0 -555px
}

.sp_TYNNVYzk0HY.sx_545d76 {
  background-position: -42px -492px
}

.sp_TYNNVYzk0HY.sx_bb8f5b {
  background-position: -63px -492px
}

.sp_TYNNVYzk0HY.sx_b1ea71 {
  width: 16px;
  height: 16px;
  background-position: -17px -555px
}

.sp_TYNNVYzk0HY.sx_1d4023 {
  background-position: -84px -492px
}

.sp_TYNNVYzk0HY.sx_64f9c4 {
  width: 16px;
  height: 16px;
  background-position: -34px -555px
}

.sp_TYNNVYzk0HY.sx_1afaf6 {
  background-position: -105px -492px
}

.sp_TYNNVYzk0HY.sx_f38004 {
  width: 24px;
  height: 24px;
  background-position: -211px -149px
}

.sp_TYNNVYzk0HY.sx_cbd14e {
  background-position: -126px -492px
}

.sp_TYNNVYzk0HY.sx_d3b4cd {
  background-position: -147px -492px
}

.sp_TYNNVYzk0HY.sx_c44038 {
  background-position: -168px -492px
}

.sp_TYNNVYzk0HY.sx_1db1c1 {
  width: 16px;
  height: 16px;
  background-position: -51px -555px
}

.sp_TYNNVYzk0HY.sx_1eb614 {
  background-position: -189px -492px
}

.sp_TYNNVYzk0HY.sx_e27d33 {
  background-position: -210px -492px
}

.sp_TYNNVYzk0HY.sx_bd0108 {
  background-position: 0 -513px
}

.sp_TYNNVYzk0HY.sx_cb076d {
  background-position: -21px -513px
}

.sp_TYNNVYzk0HY.sx_7567ed {
  background-position: -42px -513px
}

.sp_TYNNVYzk0HY.sx_b54a96 {
  background-position: -63px -513px
}

.sp_TYNNVYzk0HY.sx_2f2941 {
  background-position: -84px -513px
}

.sp_TYNNVYzk0HY.sx_1a4923 {
  background-position: -105px -513px
}

.sp_TYNNVYzk0HY.sx_8e2d3f {
  background-position: -126px -513px
}

.sp_TYNNVYzk0HY.sx_b4c94a {
  background-position: -147px -513px
}

.sp_TYNNVYzk0HY.sx_cecae7 {
  width: 24px;
  height: 24px;
  background-position: -161px -174px
}

.sp_TYNNVYzk0HY.sx_c04c55 {
  background-position: -168px -513px
}

.sp_TYNNVYzk0HY.sx_2e1f6e {
  background-position: -189px -513px
}

.sp_TYNNVYzk0HY.sx_ed51d4 {
  background-position: -210px -513px
}

.sp_TYNNVYzk0HY.sx_89c214 {
  background-position: 0 -534px
}

.sp_TYNNVYzk0HY.sx_2ffacf {
  background-position: -21px -534px
}

.sp_TYNNVYzk0HY.sx_b1d9a6 {
  width: 24px;
  height: 24px;
  background-position: -186px -174px
}

.sp_TYNNVYzk0HY.sx_372299 {
  background-position: -42px -534px
}

.sp_TYNNVYzk0HY.sx_8291ad {
  width: 24px;
  height: 24px;
  background-position: -211px -174px
}

.sp_TYNNVYzk0HY.sx_71cfd8 {
  width: 16px;
  height: 16px;
  background-position: -68px -555px
}

.sp_TYNNVYzk0HY.sx_fc1570 {
  width: 16px;
  height: 16px;
  background-position: -85px -555px
}

.sp_TYNNVYzk0HY.sx_6912fe {
  width: 16px;
  height: 16px;
  background-position: -102px -555px
}

.sp_TYNNVYzk0HY.sx_5abf32 {
  width: 12px;
  height: 12px;
  background-position: -224px -237px
}

.sp_TYNNVYzk0HY.sx_753c60 {
  width: 16px;
  height: 16px;
  background-position: -119px -555px
}

.sp_TYNNVYzk0HY.sx_5918f0 {
  background-position: -63px -534px
}

.sp_TYNNVYzk0HY.sx_beead7 {
  width: 16px;
  height: 16px;
  background-position: -136px -555px
}

.sp_TYNNVYzk0HY.sx_666f60 {
  background-position: -84px -534px
}

.sp_TYNNVYzk0HY.sx_82a719 {
  width: 24px;
  height: 24px;
  background-position: -161px -199px
}

.sp_TYNNVYzk0HY.sx_113d8c {
  width: 16px;
  height: 16px;
  background-position: -153px -555px
}

.sp_TYNNVYzk0HY.sx_4b94db {
  width: 24px;
  height: 24px;
  background-position: -186px -199px
}

.sp_TYNNVYzk0HY.sx_3fa9e1 {
  width: 16px;
  height: 16px;
  background-position: -170px -555px
}

.sp_TYNNVYzk0HY.sx_4c7522 {
  width: 16px;
  height: 16px;
  background-position: -187px -555px
}

.sp_TYNNVYzk0HY.sx_8e5e31 {
  width: 16px;
  height: 16px;
  background-position: -204px -555px
}

.sp_TYNNVYzk0HY.sx_f88f39 {
  width: 16px;
  height: 16px;
  background-position: -221px -555px
}

.sp_TYNNVYzk0HY.sx_d9b531 {
  width: 16px;
  height: 16px;
  background-position: 0 -572px
}

.sp_TYNNVYzk0HY.sx_22eca9 {
  width: 16px;
  height: 16px;
  background-position: -17px -572px
}

.sp_TYNNVYzk0HY.sx_357f74 {
  width: 16px;
  height: 16px;
  background-position: -34px -572px
}

.sp_TYNNVYzk0HY.sx_4e3b49 {
  width: 16px;
  height: 16px;
  background-position: -51px -572px
}

.sp_TYNNVYzk0HY.sx_2e38e5 {
  width: 16px;
  height: 16px;
  background-position: -68px -572px
}

.sp_TYNNVYzk0HY.sx_055b46 {
  width: 16px;
  height: 16px;
  background-position: -85px -572px
}

.sp_TYNNVYzk0HY.sx_061de4 {
  width: 16px;
  height: 16px;
  background-position: -102px -572px
}

.sp_TYNNVYzk0HY.sx_a277e9 {
  width: 16px;
  height: 16px;
  background-position: -119px -572px
}

.sp_TYNNVYzk0HY.sx_a8a5f6 {
  width: 16px;
  height: 16px;
  background-position: -136px -572px
}

.sp_TYNNVYzk0HY.sx_6a2fb6 {
  width: 16px;
  height: 16px;
  background-position: -153px -572px
}

.sp_TYNNVYzk0HY.sx_e6f59c {
  width: 239px;
  height: 148px;
  background-position: 0 0
}

.sp_TYNNVYzk0HY.sx_c2c3fe {
  width: 160px;
  height: 160px;
  background-position: 0 -149px
}

.sp_TYNNVYzk0HY.sx_d5f44a {
  width: 160px;
  height: 160px;
  background-position: 0 -310px
}

.sp_TYNNVYzk0HY.sx_326671 {
  width: 10px;
  height: 9px;
  background-position: -224px -250px
}

.sp_TYNNVYzk0HY.sx_d82653 {
  width: 10px;
  height: 9px;
  background-position: -224px -260px
}

.sp_TYNNVYzk0HY.sx_d557c5 {
  width: 10px;
  height: 9px;
  background-position: -224px -270px
}

.sp_XFBKCL1xUQN {
  background-image: url(/rsrc.php/v3/yf/r/sPH-vi7dtUO.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_XFBKCL1xUQN.sx_bb5d11 {
  background-position: 0 -25px
}

.sp_XFBKCL1xUQN.sx_345d42 {
  width: 16px;
  height: 16px;
  background-position: 0 -382px
}

.sp_XFBKCL1xUQN.sx_44ab0b {
  background-position: 0 -46px
}

.sp_XFBKCL1xUQN.sx_33ec5a {
  background-position: 0 -67px
}

.sp_XFBKCL1xUQN.sx_834c0e {
  background-position: 0 -88px
}

.sp_XFBKCL1xUQN.sx_c6b422 {
  background-position: 0 -109px
}

.sp_XFBKCL1xUQN.sx_ce38f9 {
  background-position: 0 -130px
}

.sp_XFBKCL1xUQN.sx_d9cd22 {
  background-position: 0 -151px
}

.sp_XFBKCL1xUQN.sx_aad7fc {
  background-position: 0 -172px
}

.sp_XFBKCL1xUQN.sx_1cdb5f {
  background-position: 0 -193px
}

.sp_XFBKCL1xUQN.sx_212e0b {
  background-position: 0 -214px
}

.sp_XFBKCL1xUQN.sx_15a2bc {
  background-position: 0 -235px
}

.sp_XFBKCL1xUQN.sx_becbf3 {
  background-position: 0 -256px
}

.sp_XFBKCL1xUQN.sx_53cbd3 {
  background-position: 0 -277px
}

.sp_XFBKCL1xUQN.sx_6462b1 {
  background-position: 0 -298px
}

.sp_XFBKCL1xUQN.sx_b50975 {
  width: 24px;
  height: 24px;
  background-position: 0 0
}

.sp_XFBKCL1xUQN.sx_bcd0a1 {
  background-position: 0 -319px
}

.sp_XFBKCL1xUQN.sx_fa1385 {
  background-position: 0 -340px
}

.sp_XFBKCL1xUQN.sx_72f268 {
  background-position: 0 -361px
}

.sp_bhd1SKRPmPo {
  background-image: url(/rsrc.php/v3/ys/r/YwCSNI8G-vy.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_bhd1SKRPmPo.sx_de175f {
  background-position: 0 0
}

.sp_bhd1SKRPmPo.sx_8f3bd8 {
  background-position: 0 -21px
}

.sp_bhd1SKRPmPo.sx_5abc4f {
  background-position: 0 -42px
}

.sp_bhd1SKRPmPo.sx_1dcec4 {
  width: 16px;
  height: 16px;
  background-position: 0 -63px
}

.sp_g-kbU5msub4 {
  background-image: url(/rsrc.php/v3/yi/r/X_3-OeqN31J.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_g-kbU5msub4.sx_d8474d {
  background-position: 0 0
}

.sp_g-kbU5msub4.sx_69d3df {
  background-position: 0 -21px
}

.sp_nDDwmuA9_6N {
  background-image: url(/rsrc.php/v3/yM/r/BrN5DMuqEKl.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_nDDwmuA9_6N.sx_3ffa52 {
  width: 12px;
  height: 12px;
  background-position: 0 -163px
}

.sp_nDDwmuA9_6N.sx_806252 {
  width: 12px;
  height: 12px;
  background-position: -13px -163px
}

.sp_nDDwmuA9_6N.sx_5f208c {
  width: 12px;
  height: 12px;
  background-position: 0 -176px
}

.sp_nDDwmuA9_6N.sx_68dc6c {
  background-position: 0 -58px
}

.sp_nDDwmuA9_6N.sx_cd3035 {
  width: 24px;
  height: 24px;
  background-position: 0 -33px
}

.sp_nDDwmuA9_6N.sx_d1e1cf {
  background-position: 0 -79px
}

.sp_nDDwmuA9_6N.sx_7d2cf1 {
  background-position: 0 -100px
}

.sp_nDDwmuA9_6N.sx_17d8a1 {
  width: 32px;
  height: 32px;
  background-position: 0 0
}

.sp_nDDwmuA9_6N.sx_6bb162 {
  background-position: 0 -121px
}

.sp_nDDwmuA9_6N.sx_491c04 {
  width: 12px;
  height: 12px;
  background-position: -13px -176px
}

.sp_nDDwmuA9_6N.sx_9a7da1 {
  background-position: 0 -142px
}

.sp_niM2Jzp0LQU {
  background-image: url(/rsrc.php/v3/yG/r/OU89mhXkwz_.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_niM2Jzp0LQU.sx_15baa4 {
  background-position: 0 0
}

.sp_niM2Jzp0LQU.sx_a16e15 {
  background-position: 0 -21px
}

._666h {
  cursor: pointer
}

._666h::before {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -135px
}

._666h._6r34::before {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -173px
}

._6dc2::before {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -268px
}


.sp_LGojA4ldSxW {
  background-image: url(../assets/xVr-bSpqpnp.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px
}

.sp_LGojA4ldSxW.sx_cd278f {
  width: 16px;
  height: 16px;
  background-position: 0 -335px
}

.sp_LGojA4ldSxW.sx_b6b35b {
  width: 16px;
  height: 16px;
  background-position: 0 -352px
}

.sp_LGojA4ldSxW.sx_5bb27a {
  width: 16px;
  height: 16px;
  background-position: 0 -369px
}

.sp_LGojA4ldSxW.sx_d28ec1 {
  width: 16px;
  height: 16px;
  background-position: 0 -386px
}

.sp_LGojA4ldSxW.sx_a70e96 {
  background-position: 0 -828px
}

.sp_LGojA4ldSxW.sx_48f337 {
  background-position: 0 -841px
}

.sp_LGojA4ldSxW.sx_e3ca83 {
  width: 16px;
  height: 16px;
  background-position: 0 -403px
}

.sp_LGojA4ldSxW.sx_b388d6 {
  width: 16px;
  height: 16px;
  background-position: 0 -420px
}

.sp_LGojA4ldSxW.sx_6980fe {
  background-position: 0 -854px
}

.sp_LGojA4ldSxW.sx_5b9fed {
  background-position: 0 -867px
}

.sp_LGojA4ldSxW.sx_d8bfe1 {
  background-position: 0 -880px
}

.sp_LGojA4ldSxW.sx_7c5af3 {
  background-position: 0 -893px
}

.sp_LGojA4ldSxW.sx_d830db {
  background-position: 0 -906px
}

.sp_LGojA4ldSxW.sx_bd1e5d {
  background-position: 0 -919px
}

.sp_LGojA4ldSxW.sx_072c53 {
  background-position: 0 -932px
}

.sp_LGojA4ldSxW.sx_cb34e9 {
  background-position: 0 -945px
}

.sp_LGojA4ldSxW.sx_8d10f9 {
  width: 16px;
  height: 16px;
  background-position: 0 -437px
}

.sp_LGojA4ldSxW.sx_fd0cde {
  width: 16px;
  height: 16px;
  background-position: 0 -454px
}

.sp_LGojA4ldSxW.sx_0d9566 {
  width: 16px;
  height: 16px;
  background-position: 0 -471px
}

.sp_LGojA4ldSxW.sx_f7f528 {
  width: 16px;
  height: 16px;
  background-position: 0 -488px
}

.sp_LGojA4ldSxW.sx_9e07ed {
  width: 16px;
  height: 16px;
  background-position: 0 -505px
}

.sp_LGojA4ldSxW.sx_9a5ba3 {
  width: 16px;
  height: 16px;
  background-position: 0 -522px
}

.sp_LGojA4ldSxW.sx_7ff9fb {
  background-position: 0 -958px
}

.sp_LGojA4ldSxW.sx_8e4962 {
  width: 18px;
  height: 18px;
  background-position: 0 -116px
}

.sp_LGojA4ldSxW.sx_155fc8 {
  width: 18px;
  height: 18px;
  background-position: 0 -135px
}

.sp_LGojA4ldSxW.sx_43a7f3 {
  width: 18px;
  height: 18px;
  background-position: 0 -154px
}

.sp_LGojA4ldSxW.sx_b837cd {
  width: 18px;
  height: 18px;
  background-position: 0 -173px
}

.sp_LGojA4ldSxW.sx_43e2a9 {
  width: 16px;
  height: 16px;
  background-position: 0 -539px
}

.sp_LGojA4ldSxW.sx_45a658 {
  width: 20px;
  height: 20px;
  background-position: 0 -50px
}

.sp_LGojA4ldSxW.sx_fd8998 {
  width: 16px;
  height: 16px;
  background-position: 0 -556px
}

.sp_LGojA4ldSxW.sx_500a3d {
  width: 16px;
  height: 16px;
  background-position: 0 -573px
}

.sp_LGojA4ldSxW.sx_52305b {
  width: 16px;
  height: 16px;
  background-position: 0 -590px
}

.sp_LGojA4ldSxW.sx_de3e00 {
  background-position: 0 -971px
}

.sp_LGojA4ldSxW.sx_9ad335 {
  background-position: 0 -984px
}

.sp_LGojA4ldSxW.sx_9f96bc {
  background-position: 0 -997px
}

.sp_LGojA4ldSxW.sx_e15853 {
  background-position: 0 -1010px
}

.sp_LGojA4ldSxW.sx_36c6e1 {
  background-position: 0 -1023px
}

.sp_LGojA4ldSxW.sx_c584b3 {
  width: 16px;
  height: 16px;
  background-position: 0 -607px
}

.sp_LGojA4ldSxW.sx_624693 {
  width: 16px;
  height: 16px;
  background-position: 0 -624px
}

.sp_LGojA4ldSxW.sx_43ad09 {
  width: 16px;
  height: 16px;
  background-position: 0 -641px
}

.sp_LGojA4ldSxW.sx_0385ef {
  background-position: 0 -1036px
}

.sp_LGojA4ldSxW.sx_79adfe {
  background-position: 0 -1049px
}

.sp_LGojA4ldSxW.sx_142ee5 {
  background-position: 0 -1062px
}

.sp_LGojA4ldSxW.sx_90a34d {
  width: 24px;
  height: 24px;
  background-position: 0 0
}

.sp_LGojA4ldSxW.sx_adc6e0 {
  background-position: 0 -1075px
}

.sp_LGojA4ldSxW.sx_434bcc {
  width: 20px;
  height: 20px;
  background-position: 0 -72px
}

.sp_LGojA4ldSxW.sx_d82a97 {
  width: 18px;
  height: 18px;
  background-position: 0 -192px
}

.sp_LGojA4ldSxW.sx_91e7d2 {
  width: 18px;
  height: 18px;
  background-position: 0 -211px
}

.sp_LGojA4ldSxW.sx_fbe68a {
  width: 18px;
  height: 18px;
  background-image: url(../assets/CSv9x57Ewuz.png);
  background-position: 0 -69px;
}

.sp_LGojA4ldSxW.sx_193880 {
  width: 18px;
  height: 18px;
  background-position: 0 -249px
}

.sp_LGojA4ldSxW.sx_38dbb5 {
  background-position: 0 -1088px
}

.sp_LGojA4ldSxW.sx_eaae09 {
  width: 18px;
  height: 18px;
  background-position: 0 -268px
}

.sp_LGojA4ldSxW.sx_6c5b21 {
  background-position: 0 -1101px
}

.sp_LGojA4ldSxW.sx_43ce74 {
  background-position: 0 -1114px
}

.sp_LGojA4ldSxW.sx_c6e588 {
  background-position: 0 -1127px
}

.sp_LGojA4ldSxW.sx_2e6c62 {
  background-position: 0 -1140px
}

.sp_LGojA4ldSxW.sx_e944b4 {
  width: 20px;
  height: 20px;
  background-position: 0 -67px
}

.sp_LGojA4ldSxW.sx_acc255 {
  background-position: 0 -1153px
}

.sp_LGojA4ldSxW.sx_5457e3 {
  width: 16px;
  height: 16px;
  background-position: 0 -658px
}

.sp_LGojA4ldSxW.sx_f61789 {
  background-position: 0 -1166px
}

.sp_LGojA4ldSxW.sx_f54c33 {
  width: 18px;
  height: 18px;
  background-position: 0 -323px
}

.sp_LGojA4ldSxW.sx_a6fe9e {
  width: 18px;
  height: 18px;
  background-position: 0 -306px
}

.sp_LGojA4ldSxW.sx_547066 {
  background-position: 0 -1179px
}

.sp_LGojA4ldSxW.sx_68cdc9 {
  background-position: 0 -1192px
}

.sp_LGojA4ldSxW.sx_e5c346 {
  width: 20px;
  height: 20px;
  background-position: 0 -88px
}

.sp_LGojA4ldSxW.sx_addf51 {
  width: 16px;
  height: 16px;
  background-position: 0 -675px
}

.sp_LGojA4ldSxW.sx_afd5a3 {
  width: 16px;
  height: 16px;
  background-position: 0 -692px
}

.sp_LGojA4ldSxW.sx_10cdd3 {
  width: 16px;
  height: 16px;
  background-position: 0 -709px
}

.sp_LGojA4ldSxW.sx_b40e14 {
  background-position: 0 -1205px
}

.sp_LGojA4ldSxW.sx_7c0ba0 {
  width: 16px;
  height: 16px;
  background-position: 0 -726px
}

.sp_LGojA4ldSxW.sx_e31750 {
  width: 16px;
  height: 16px;
  background-position: 0 -743px
}

.sp_LGojA4ldSxW.sx_5f1421 {
  width: 16px;
  height: 16px;
  background-position: 0 -760px
}

.sp_LGojA4ldSxW.sx_339c79 {
  width: 16px;
  height: 16px;
  background-position: 0 -777px
}

.sp_LGojA4ldSxW.sx_9f3790 {
  width: 16px;
  height: 16px;
  background-position: 0 -794px
}

.sp_LGojA4ldSxW.sx_d831bf {
  width: 16px;
  height: 16px;
  background-position: 0 -811px
}

.sp_LGojA4ldSxW.sx_45d57b {
  width: 10px;
  height: 6px;
  background-position: -10px -109px
}

.sp_LGojA4ldSxW.sx_5977c2 {
  width: 11px;
  height: 9px;
  background-position: -4px -325px
}

._2zvs {
  margin-bottom: -180px;
  padding-bottom: 180px
}

._6_au {
  overflow: hidden
}

._2zvs ._50zm {
  overflow: visible
}

._2zvs ._5dwa {
  z-index: 1
}

._3c4y {
  display: block;
  margin: auto;
  padding: 140px 0;
  text-align: center;
  width: 50%
}


._666h::before {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -135px
}

._666h._6r34::before {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -173px
}

._6dc2::before {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -268px
}

._18vi {
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  justify-content: center
}

._8y72 {
  flex-basis: auto
}

._18vi+._18vi::before {
  content: '\20\a0\20'
}

._18vj._18vj {
  align-items: center;
  color: #606770;
  display: flex;
  flex: 1 0;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  line-height: 14px;
  padding: 0 2px;
  position: relative;
  text-decoration: none;
  transition: 400ms cubic-bezier(.08, .52, .52, 1) transform
}

._18vj:not(._6dc1):active {
  transform: scale(.96);
  transform-origin: center center;
  transition: 200ms cubic-bezier(.12, .8, .32, 1) transform
}

._18vj:not(._6dc1):hover {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 2px;
  text-decoration: none
}

._18vj::after {
  bottom: -5px;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: -5px
}

._18vj:not(._6dc1):active::after {
  left: -2.5px;
  right: -2.5px
}

._18vk::before {
  content: '';
  display: inline-block;
  height: 18px;
  margin: 0 6px -3px 0;
  min-width: 18px;
  position: relative;
  top: -2px;
  width: 18px
}

._6dc1 {
  color: #606770;
  display: inline-block;
  font-weight: 600;
  line-height: 14px;
  margin: 0;
  opacity: .4;
  padding: 0 2px;
  text-decoration: none
}

._694w {
  margin: 0 12px;
  padding: 4px 0 8px
}

._694x:hover {
  text-decoration: underline
}

._7c_r {
  color: #8d949e;
  text-overflow: ellipsis;
  white-space: nowrap
}

._7c_r ._1p1t {
  width: 100%
}

._7c_r ._1p1v {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important
}

._129h {
  background-color: #f2f3f5;
  border: 1px solid #ccd0d5;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end
}

._7c_q {
  flex-wrap: wrap
}

._4w75 {
  background-color: rgba(0, 0, 0, .1)
}

._4w79 {
  cursor: text;
  flex: 1 1 auto;
  line-height: 16px;
  overflow: hidden;
  padding: 8px 12px
}

._25cm {
  padding-top: 1px
}

._882o {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid #fa383e
}

._1obb {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  height: 32px;
  margin-left: -8px;
  margin-right: 8px;
  z-index: 1
}

._1obc {
  cursor: pointer;
  display: flex
}

._1t9_ {
  box-sizing: border-box;
  display: block;
  height: 32px;
  padding: 8px 6px;
  width: 28px
}

._1llh {
  background-color: #fff;
  border-color: #dddfe2;
  border-style: solid;
  border-width: 1px;
  margin-top: 4px;
  min-height: 10px;
  position: relative
}

._1lli {
  position: absolute;
  right: 4px;
  top: 4px
}

._6g0t {
  padding-top: 1px
}

._3bu3 {
  color: #606770;
  display: flex
}

._7ja_ {
  display: block
}

._3n42,
._3n43,
._7xbl,
._3nb4 {
  display: block;
  height: 16px;
  width: 16px
}

._3n42 {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -811px
}

._7xbl {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -437px
}

._3n43 {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -488px
}

._3n43:hover {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -471px
}

._3nb4 {
  background-image: url(/rsrc.php/v3/yx/r/SInI77aPzMN.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -454px
}

._5e4h._5e2j {
  height: 22px;
  overflow: hidden
}

._5e4h._5e2k,
._5e4h ._5e2k {
  background: #fff;
  border: 1px solid;
  border-color: #a4a4a4 #bbb #d5d5d5;
  position: relative
}

._5e4h ._5e2k {
  height: 20px
}

._5e4h ._5e4k,
._5e4h ._5e2g {
  height: 20px
}

._5e4h ._5e4k {
  background: #6d84b4;
  border: solid #3b5998;
  border-radius: 0;
  border-width: 1px 0 1px 1px;
  color: #fff;
  margin: -1px;
  overflow: hidden;
  position: relative
}

._5e4h._5e2j ._5e4k,
._5e4h._5e2j ._5e2g {
  left: 0;
  line-height: 20px;
  position: absolute;
  text-align: right
}

._5e4h ._5e4k {
  top: 0
}

._5e4h ._5e2g {
  color: #333;
  top: -20px
}

._5e2l ._5e4k {
  height: 8px
}

._5e4h._5e2m ._5e4k,
._5e4h._5e2m {
  border-radius: 15px
}

._5e4h ._5e4j {
  border-right: solid 1px #3b5998
}

._5e4h ._5e2d {
  border-width: 1px 0
}

._5e4h ._5e2h {
  display: inline-block;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap
}

._5e4h._5e2j ._5e2h {
  padding-right: 5px
}

._5e4h ._5e2n {
  position: absolute
}

._5e4h._5e2j ._5e2n {
  position: relative
}

._1-s8 {
  pointer-events: none;
  z-index: 1
}

._1zvy {
  height: 72px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transition: opacity .8s cubic-bezier(.23, 1, .32, 1);
  width: 72px;
  z-index: 1
}

._2dz7._1zvy {
  opacity: 1;
  transition-property: none
}

._3s0i._1zvy {
  opacity: 1
}

._2dz7 div {
  animation-delay: .3s;
  animation-duration: 2s
}

._4z8s div {
  animation-iteration-count: infinite
}

._4z8p div {
  animation-play-state: paused
}

._4z8q {
  background: rgba(0, 0, 0, .5);
  border-radius: 50%;
  border-width: 0;
  height: 72px;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateZ(0) translate(-50%, -50%);
  width: 72px
}

._4z8r {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 60px;
  left: 4px;
  position: absolute;
  top: 4px;
  transform: rotate(0deg);
  transform-style: preserve-3d;
  width: 60px
}

@keyframes gyroInner {
  25% {
    transform: rotate(4deg)
  }

  56% {
    transform: rotate(-1deg)
  }

  92% {
    transform: rotate(0deg)
  }
}

._2dz7 ._4z8r {
  animation-name: gyroInner
}

._4z8t {
  background: none;
  border: 1px solid #ccd0d5;
  border-radius: 50%;
  height: 58px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 29px;
  will-change: width
}

@keyframes gyroMeridian {
  0% {
    width: 29px
  }

  4% {
    animation-timing-function: cubic-bezier(.470, .000, .745, .715);
    width: 29px
  }

  33% {
    animation-timing-function: cubic-bezier(.390, .575, .565, 1.000);
    width: 0
  }

  56% {
    animation-timing-function: cubic-bezier(.470, .000, .745, .715);
    width: 59px
  }

  79% {
    animation-timing-function: cubic-bezier(.390, .575, .565, 1.000);
    width: 0
  }

  96% {
    width: 29px
  }

  100% {
    width: 29px
  }
}

._2dz7 ._4z8t {
  animation-name: gyroMeridian;
  animation-timing-function: linear
}

._4z8u {
  background: rgba(255, 255, 255, .2);
  border: 1px solid #ccd0d5;
  border-radius: 50%;
  height: 29px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 58px;
  will-change: height
}

@keyframes gyroEquator {
  0% {
    height: 29px
  }

  25% {
    height: 39px
  }

  56% {
    height: 11px
  }

  92% {
    height: 29px
  }

  100% {
    height: 29px
  }
}

._2dz7 ._4z8u {
  animation-name: gyroEquator
}

._4z8v {
  border-radius: 50%;
  border-width: 0;
  height: 60px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 6px;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 29px;
  will-change: height
}

._4z8w {
  border-width: 0;
  color: #fff;
  font: 14px sans-serif;
  height: 60px;
  left: 50%;
  line-height: 60px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 29px
}

@keyframes gyroTextShell {
  0% {
    width: 29px
  }

  4% {
    animation-timing-function: cubic-bezier(.470, .000, .745, .715);
    width: 29px
  }

  33% {
    animation-timing-function: cubic-bezier(.390, .575, .565, 1.000);
    width: 0
  }

  56% {
    animation-timing-function: cubic-bezier(.470, .000, .745, .715);
    width: 0
  }

  79% {
    animation-timing-function: cubic-bezier(.390, .575, .565, 1.000);
    width: 0
  }

  96% {
    width: 29px
  }

  100% {
    width: 29px
  }
}

._2dz7 ._4z8v {
  animation-name: gyroTextShell;
  animation-timing-function: linear
}

@keyframes mousemove {
  21% {
    transform: translate(0px, 2px)
  }

  56% {
    transform: translate(10px, 1px)
  }

  98% {
    transform: translate(0px, 0)
  }
}

@keyframes mouseinner {
  8% {
    transform: translate(0px, 0)
  }

  38% {
    transform: translate(1px, 4px)
  }

  62% {
    transform: translate(1px, 4px)
  }

  90% {
    transform: translate(0px, 0)
  }
}

@keyframes mouserotate {
  8% {
    transform: translate(0px, 16px) rotate(0deg) translate(0px, -16px)
  }

  27% {
    transform: translate(0px, 16px) rotate(-6deg) translate(0px, -16px)
  }

  57% {
    transform: translate(0px, 16px) rotate(9.5deg) translate(0px, -16px)
  }
}

._2660 {
  bottom: 12px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0%);
  transition: opacity .8s cubic-bezier(.23, 1, .32, 1)
}

._2dz7._2660 {
  opacity: 1
}

._2661 {
  bottom: 24px;
  height: 32px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  transition: opacity .8s cubic-bezier(.23, 1, .32, 1);
  width: 18px
}

._2dz7._2661 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: mousemove;
  height: 32px;
  width: 18px
}

._2dz7._2663 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: mouserotate
}

._2dz7._2664 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: mouseinner
}

._266m {
  background-color: #fff;
  border-radius: 0 0 9px 9px;
  height: 23px;
  position: absolute;
  width: 18px
}

._15nj {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 11px;
  height: 36px;
  position: absolute;
  transform: translate(-2px, -11px);
  width: 22px
}

._2662 {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: 2px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  white-space: nowrap
}

@keyframes leftclick {
  10% {
    opacity: .6
  }

  56% {
    opacity: .6
  }

  66% {
    opacity: 1.0
  }
}

._2665 {
  border-radius: 9px 9px 0 0;
  height: 9px;
  overflow: hidden;
  position: absolute;
  transform: translate(0px, -9px);
  width: 18px
}

._2666 {
  background-color: #fff;
  height: 7px;
  position: absolute;
  width: 8px
}

._2dz7._2666 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: leftclick
}

._2667 {
  background-color: #fff;
  height: 7px;
  position: absolute;
  transform: translate(11px, 0);
  width: 7px
}

._236i {
  bottom: 12px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0%);
  transition: opacity .8s cubic-bezier(.23, 1, .32, 1)
}

._2k2g {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: 2px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  white-space: nowrap
}

._2dz7._236i {
  opacity: 1
}

._3qn7 {
  display: flex
}

._8xlz {
  min-height: 0;
  min-width: 0
}

._2fyi {
  flex-direction: row
}

._2fyh {
  flex-direction: column
}

._6xqq {
  flex-direction: row-reverse
}

._6xqp {
  flex-direction: column-reverse
}

._61-0 {
  justify-content: flex-start
}

._61-1 {
  justify-content: center
}

._61-2 {
  justify-content: flex-end
}

._61-3 {
  justify-content: space-between
}

._6twk {
  justify-content: space-around
}

._6twl {
  justify-content: space-evenly
}

._3qng {
  align-items: center
}

._3qnf {
  align-items: flex-start
}

._3qnu {
  align-items: flex-end
}

._1a9e {
  align-items: stretch
}

._7is_ {
  align-items: baseline
}

._4tau {
  flex-wrap: wrap
}

._4tav {
  flex-wrap: wrap-reverse
}

._4jnw {
  margin: 0
}

._3-8h {
  margin: 4px
}

._3-8i {
  margin: 8px
}

._3-8j {
  margin: 12px
}

._3-8k {
  margin: 16px
}

._3-8l {
  margin: 20px
}

._2-5b {
  margin: 24px
}

._1kbd {
  margin-bottom: 0;
  margin-top: 0
}

._3-8m {
  margin-bottom: 4px;
  margin-top: 4px
}

._3-8n {
  margin-bottom: 8px;
  margin-top: 8px
}

._3-8o {
  margin-bottom: 12px;
  margin-top: 12px
}

._3-8p {
  margin-bottom: 16px;
  margin-top: 16px
}

._3-8q {
  margin-bottom: 20px;
  margin-top: 20px
}

._2-ox {
  margin-bottom: 24px;
  margin-top: 24px
}

._1a4i {
  margin-left: 0;
  margin-right: 0
}

._3-8r {
  margin-left: 4px;
  margin-right: 4px
}

._3-8s {
  margin-left: 8px;
  margin-right: 8px
}

._3-8t {
  margin-left: 12px;
  margin-right: 12px
}

._3-8u {
  margin-left: 16px;
  margin-right: 16px
}

._3-8v {
  margin-left: 20px;
  margin-right: 20px
}

._6bu9 {
  margin-left: 24px;
  margin-right: 24px
}

._5soe {
  margin-top: 0
}

._3-8w {
  margin-top: 4px
}

._3-8x {
  margin-top: 8px
}

._3-8y {
  margin-top: 12px
}

._3-8z {
  margin-top: 16px
}

._3-8- {
  margin-top: 20px
}

._4aws {
  margin-top: 24px
}

._2-jz {
  margin-right: 0
}

._3-8_ {
  margin-right: 4px
}

._3-90 {
  margin-right: 8px
}

._3-91 {
  margin-right: 12px
}

._3-92 {
  margin-right: 16px
}

._3-93 {
  margin-right: 20px
}

._y8t {
  margin-right: 24px
}

._5emk {
  margin-bottom: 0
}

._3-94 {
  margin-bottom: 4px
}

._3-95 {
  margin-bottom: 8px
}

._3-96 {
  margin-bottom: 12px
}

._3-97 {
  margin-bottom: 16px
}

._3-98 {
  margin-bottom: 20px
}

._20nr {
  margin-bottom: 24px
}

._av_ {
  margin-left: 0
}

._3-99 {
  margin-left: 4px
}

._3-9a {
  margin-left: 8px
}

._3-9b {
  margin-left: 12px
}

._3-9c {
  margin-left: 16px
}

._3-9d {
  margin-left: 20px
}

._4m0t {
  margin-left: 24px
}

.sp_6TePYFoCVbs {
  background-image: url(/rsrc.php/v3/yR/r/9R3mtisxtXU.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}

.sp_6TePYFoCVbs.sx_beb1a0 {
  background-position: 0 -21px
}

.sp_6TePYFoCVbs.sx_156651 {
  background-position: -21px -21px
}

.sp_6TePYFoCVbs.sx_b74083 {
  background-position: -42px -21px
}

.sp_6TePYFoCVbs.sx_400f26 {
  background-position: -63px -21px
}

.sp_6TePYFoCVbs.sx_956efd {
  background-position: -84px -21px
}

.sp_6TePYFoCVbs.sx_02b417 {
  background-position: 0 -42px
}

.sp_6TePYFoCVbs.sx_47fa5d {
  background-position: -21px -42px
}

.sp_6TePYFoCVbs.sx_815592 {
  background-position: -42px -42px
}

.sp_6TePYFoCVbs.sx_481bae {
  background-position: -63px -42px
}

.sp_6TePYFoCVbs.sx_355975 {
  background-position: -84px -42px
}

.sp_6TePYFoCVbs.sx_fdd616 {
  background-position: 0 -63px
}

.sp_6TePYFoCVbs.sx_839aec {
  background-position: -21px -63px
}

.sp_6TePYFoCVbs.sx_163beb {
  background-position: -42px -63px
}

.sp_6TePYFoCVbs.sx_a0b6ee {
  background-position: -63px -63px
}

.sp_6TePYFoCVbs.sx_7e7734 {
  background-position: -84px -63px
}

.sp_6TePYFoCVbs.sx_2d8ae4 {
  background-position: 0 -84px
}

.sp_6TePYFoCVbs.sx_9bb276 {
  background-position: -21px -84px
}

.sp_6TePYFoCVbs.sx_0bf85c {
  background-position: -42px -84px
}

.sp_6TePYFoCVbs.sx_6e3147 {
  background-position: -63px -84px
}

.sp_6TePYFoCVbs.sx_f5781f {
  background-position: -84px -84px
}

.sp_6TePYFoCVbs.sx_3cbfb8 {
  background-position: 0 -105px
}

.sp_6TePYFoCVbs.sx_6609d4 {
  background-position: -21px -105px
}

.sp_6TePYFoCVbs.sx_067f53 {
  width: 12px;
  height: 12px;
  background-position: -84px -105px
}

.sp_6TePYFoCVbs.sx_b9d565 {
  background-position: -42px -105px
}

.sp_6TePYFoCVbs.sx_dc2e1b {
  background-position: -63px -105px
}

.sp_6TePYFoCVbs.sx_52f5b7 {
  width: 12px;
  height: 12px;
  background-position: 0 -126px
}

.sp_6TePYFoCVbs.sx_47dc5e {
  width: 108px;
  background-position: 0 0
}

._666k {
  position: relative;
  width: 100%
}

._3l2t {
  z-index: 6
}

._2lk8 {
  margin: -2px 6px -2px 0
}

._6rk2 {
  display: inline-block;
  margin-right: 6px
}

._8c74 {
  position: relative
}

._3_16 {
  font-weight: bold
}

._680y {
  display: inline-flex;
  max-width: 100%;
  position: relative;
  vertical-align: middle
}

._6cuy {
  flex: 1 1 auto;
  min-width: 0;
  width: 100%
}

._6cuq {
  bottom: -11px;
  position: absolute;
  right: 2px;
  z-index: 0
}

._680_ {
  align-self: flex-end;
  bottom: 0;
  margin-bottom: 4px;
  margin-left: -8px;
  position: relative;
  right: 0
}

._6hnh {
  color: #8d949e
}

._6x7t {
  background-color: #000;
  overflow: hidden;
  width: 100%
}

._812x {
  margin-top: 12px
}

._812x ._1wbl {
  margin-right: 12px
}

._7f4l {
  max-height: 620px;
  transition: 400ms all;
  transition-timing-function: cubic-bezier(.5, 0, .1, 1)
}

._7f4m {
  max-height: 0;
  opacity: 0;
  overflow: hidden
}

._7f69 {
  max-height: 58px;
  transition: 400ms all;
  transition-timing-function: cubic-bezier(.5, 0, .1, 1)
}

._7gtz {
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  text-align: center
}

#bootloader_lUpZF {
  height: 42px;
}

.bootloader_lUpZF {
  display: block !important;
}


.sp_LGojA4ldSxW.ping{
    background-position: 0 -152px;
    width: 18px;
    height: 18px;
}


._18vi.checked ._18vj{
    color: #1877F2;
}
._18vi.checked  i{
    background: url("../assets/xVr-bSpqpnp.png");
    background-position: 0 -229px;
}



